<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="/images/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li><a class="nav-link" href="#">Smartphones </a></li>

              <li><a class="nav-link" href="#">Tablets </a></li>

                <li><a class="nav-link" href="#">Computadoras </a></li>

            </ul>
            <form class="d-flex" action="/search" >
                <input class="form-control me-2" type="search" placeholder="Buscar..." name="busqueda">
                <button class="btn btn-outline-light" type="submit">Buscar</button>
              </form>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <% if (locals.userLogin) { %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= locals.userLogin.name %> 
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% if (locals.userLogin.rolId === 1) { %>
                      <li><a class="dropdown-item" href="/admin">Administración</a></li>
                    <% } %>
                    <li><a class="dropdown-item" href="/users/profile">Mi perfil</a></li>
                    <li><a class="dropdown-item" href="/users/logout">Cerrar sesión</a></li>
                  </ul>
                </li>
              <% } else { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  User
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/users/login">Login </a></li>
                  <li><a class="dropdown-item" href="/users/register">Register </a></li>
                </ul>
              </li>
              <% } %>
              </ul>
           
          </div>
         
        </div>
      
      </nav>
     
</header>